/* body{

    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    overflow: hidden;
    display: flex;
    margin: 0%;
    
} */


/* INFO1 */

#info1{

    height: 93%;
    width: 43%;
    background-color:rgb(43, 94, 77);
    z-index: 23;
    
    
}

#cerrar{
    width: 2%;
    height: 4%;
    display: flex;
    position: absolute;
    top:5%;
    right: 29.3%;
    cursor: pointer;
}

#cerrar img{
    width: 100%;
    
}

#tituloA{

    font-size: 60pt;
    text-align: center;

    

}

#imgArtista{

    width: 100%;
    margin: 0;  
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    
     
}

#imgArtista img{  
    width: 60%;

    


}

#texto{
    width: 38%;
    left: 31%;
    top: 50%;
    background-color: burlywood;
    position: absolute;
    font-size: 14pt;



}

.video{
    width: 38%;
    left: 31%;
    margin: 0;
    bottom: 7%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


}

/* INFO2 */


#info2{

    height: 93%;
    width: 43%;
    background-color:rgb(43, 94, 77);
    z-index: 23;
    
    
}

#cerrar2{
    width: 2%;
    height: 4%;
    display: flex;
    position: absolute;
    top:5%;
    right: 29.3%;
    cursor: pointer;
}

#cerrar2 img{
    width: 100%;
    
}

#tituloA2{

    font-size: 60pt;
    text-align: center;

    

}

#imgArtista2{

    width: 100%;
    margin: 0;  
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    
     
}

#imgArtista2 img{  
    width: 35%;

    


}

#texto2{
    width: 38%;
    left: 31%;
    top: 50%;
    background-color: burlywood;
    position: absolute;
    font-size: 14pt;



}



/* INFO3 */


#info3{

    height: 93%;
    width: 43%;
    background-color:rgb(43, 94, 77);
    z-index: 23;
    
    
}

#cerrar3{
    width: 2%;
    height: 4%;
    display: flex;
    position: absolute;
    top:5%;
    right: 29.3%;
    cursor: pointer;
}

#cerrar3 img{
    width: 100%;
    
}

#tituloA3{

    font-size: 60pt;
    text-align: center;

    

}

#imgArtista3{

    width: 100%;
    margin: 0;  
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    
     
}

#imgArtista3 img{  
    width: 40%;

    


}

#texto3{
    width: 38%;
    left: 31%;
    top: 50%;
    background-color: burlywood;
    position: absolute;
    font-size: 14pt;



}

/* INFO4 */


#info4{

    height: 93%;
    width: 43%;
    background-color:rgb(43, 94, 77);
    z-index: 23;
    
    
}

#cerrar4{
    width: 2%;
    height: 4%;
    display: flex;
    position: absolute;
    top:5%;
    right: 29.3%;
    cursor: pointer;
}

#cerrar4 img{
    width: 100%;
    
}

#tituloA4{

    font-size: 60pt;
    text-align: center;

    

}

#imgArtista4{

    width: 100%;
    margin: 0;  
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    
     
}

#imgArtista4 img{  
    width: 53.5%;

    


}

#texto4{
    width: 38%;
    left: 31%;
    top: 50%;
    background-color: burlywood;
    position: absolute;
    font-size: 14pt;



}

#video4{
    width: 38%;
    left: 31%;
    margin: 0;
    bottom: 7%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


}

/* INFO5 */


#info5{

    height: 93%;
    width: 43%;
    background-color:rgb(43, 94, 77);
    z-index: 23;
    
    
}

#cerrar5{
    width: 2%;
    height: 4%;
    display: flex;
    position: absolute;
    top:5%;
    right: 29.3%;
    cursor: pointer;
}

#cerrar5 img{
    width: 100%;
    
}

#tituloA5{

    font-size: 60pt;
    text-align: center;

    

}

#imgArtista5{

    width: 100%;
    margin: 0;  
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    
     
}

#imgArtista5 img{  
    width: 35%;

    


}

#texto5{
    width: 38%;
    left: 31%;
    top: 50%;
    background-color: burlywood;
    position: absolute;
    font-size: 14pt;



}

#video5{
    width: 38%;
    left: 31%;
    margin: 0;
    bottom: 7%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


}

/* INFO6 */


#info6{

    height: 93%;
    width: 43%;
    background-color:rgb(43, 94, 77);
    z-index: 23;
    
    
}

#cerrar6{
    width: 2%;
    height: 4%;
    display: flex;
    position: absolute;
    top:5%;
    right: 29.3%;
    cursor: pointer;
}

#cerrar6 img{
    width: 100%;
    
}

#tituloA6{

    font-size: 60pt;
    text-align: center;

    

}

#imgArtista6{

    width: 100%;
    margin: 0;  
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    
     
}

#imgArtista6 img{  
    width: 35%;

    


}

#texto6{
    width: 38%;
    left: 31%;
    top: 50%;
    background-color: burlywood;
    position: absolute;
    font-size: 14pt;



}

#video6{
    width: 38%;
    left: 31%;
    margin: 0;
    bottom: 7%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


}